@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@200&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', monospace;
  background-color: #F8F7F1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.roboto {
  font-family: 'Roboto', sans-serif;

}

.sponsorTitle {
  font-family: 'Roboto', sans-serif;
  padding-left: 40px;
  font-size: 75px;
}

.line-container {
  display: flex;
  align-items: center;
}

.line {
  flex-grow: 1;
  border: 1px solid black; /* Customize line appearance */
}

.centered-text {
  padding: 0 20px;
  font-size: 18px; /* Customize text size */
  font-weight: bold; /* Customize text style */
  margin-left: 30px;
  margin-right: 30px;
}

.sponsorLogos {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center; /* Adjust as needed */
}

.sponsorLogos img {
  /* padding-left: 20px;
  padding-right: 20px; */
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 275px;
  margin: 0 20px; /* Adjust as needed */
}

@media (max-width: 500px) {
  .sponsorLogos {
    flex-direction: column;
    align-items: center; /* Optional: Center images in the column */
  }

  .sponsorLogos img {
    /* padding-left: 0px;
    padding-right: 0px; */
    margin-top: 15px;
    margin-bottom: 15px;
    flex-direction: column;
    align-items: center; /* Optional: Center images in the column */
  }

  .sponsorsContainer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* === Arman styles: === */
.box-shadow {
	box-shadow: -20px 20px 0px #002601;
}
/* ===================== */