@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@200&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

body {
  background-color: #F8F7F1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Roboto Mono', monospace;
}

.sponsorTitle {
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  padding-left: 40px;
  font-size: 75px;
}

.line-container {
  display: flex;
  align-items: center;
}

.line {
  flex-grow: 1;
  border: 1px solid black; /* Customize line appearance */
}

.centered-text {
  padding: 0 20px;
  font-size: 18px; /* Customize text size */
  font-weight: bold; /* Customize text style */
}

.sponsorLogos {
  display: flex;
  justify-content: center; /* Adjust as needed */
}

.sponsorLogos img {
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 275px;
  margin: 0 20px; /* Adjust as needed */
}

@media (max-width: 500px) {
  .sponsorLogos {
    flex-direction: column;
    align-items: center; /* Optional: Center images in the column */
  }

  .sponsorLogos img {
    margin-top: 15px;
    margin-bottom: 15px;
    flex-direction: column;
    align-items: center; /* Optional: Center images in the column */
  }
}